* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('BACKGROUND.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; ; 
    font-family: 'Courier New', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #333; 
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    background: linear-gradient(to bottom, #ff2190, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    margin: 0;
}

.content {
    font-family: 'Courier New';
    display: flex;
    flex-direction: column;
    max-width: 600px;
    font-weight: 900;
    gap: 20px; 
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    text-align: center;
    line-height: 1.5; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

th {
    background-color: #ff5fb7;
    color: #fff;
}

td {
    background: linear-gradient(to bottom, #ff9ccd, #ffffff);
    color: #333;
}

/*Underline*/
h2, h3 { 
    text-decoration: underline; /* Underline the main headers */
}

footer {
    background-color: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    text-align: center;
    width: 100%;
}
